<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style-Crear-Producto.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vidaloka&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <title>Sportify</title>
</head>
<body>
    <%- include ("./partials/header")%>
    <main>
        <form action="/Crear-Producto/crear" class="New-product" method="POST" enctype="multipart/form-data">
            
            <h1>Crear Producto</h1>
            <div class="Product-name">
                <h2>Nombre del Producto</h2>
                <input type="text" name="name" id="name"  placeholder="Insertar nombre" class="name"><i class="fa-solid fa-exclamation alert"> </i><i class="fa-solid fa-check okey"></i>

            </div>
            <div class="Precio">
                <label for="price" class="form-label">Precio del Producto:</label >
                <input type="text" name="price" id="price"  placeholder="Insetar precio" class="form-input price"><i class="fa-solid fa-exclamation alert"></i><i class="fa-solid fa-check okey"></i>
            </div>

            <div class="Category">
                <h2>Categoría del producto</h2>
                <select name="id_categoria" id="id_categoria" class="form-input">
                    <option selected>Seleccionar Categoria</option>
                    <% for(let i=0; i<categorias.length; i++) {%>
                        <option value="<%= categorias[i].id_categoria %>"><%= categorias[i].opciones %></option>
                    <% } %>
                </select>
            </div>

            <div class="Category">
                <h2>Color del producto</h2>
                <select name="id_color" id="id_color" class="form-input">
                    <option selected>Seleccionar color</option>
                    <% for(let i=0; i<color.length; i++) {%>
                        <option value="<%= color[i].id_color %>"><%= color[i].colores %></option>
                    <% } %>
                </select>
            </div>

            <div class="Category">
                <h2>Talla del producto</h2>
                <select name="id_tallas" id="id_tallas" class="form-input">
                    <option selected>Seleccionar talla</option>
                    <% for(let i=0; i<tallas.length; i++) {%>
                        <option value="<%= tallas[i].id_tallas %>"><%= tallas[i].talles %></option>
                    <% } %>
                </select>
            </div>

            <div class="imagen">
                <h2>Imagen del pruducto</h2>
                <input type="file" name="imagen" id="imagen">
            </div>
            <div class="Descripcion">
                <h2>Descripcion</h2>
                <textarea name="description" id="description" cols="30" rows="10" placeholder="Agregar Descripcion"></textarea>
            </div>
            <div class="Terminos">
                <input type="checkbox" name="condiciones" id="terminos y condiciones" value="terminos y condiciones">
                <label for="terminos y condiciones">Aceptar Terminos y Condiciones</label>
            </div>
            <div class="botones">
                
                <button class="articlebutton" type="submit"><a href="./admin-confirm">Atras</a></button>

                <button class="articlebutton" type="submit">Enviar</button>

            </div>
        </form>
    </main>
    <%- include ("./partials/footer")%>
    
    <script src="/js/Crear-Producto.js"></script>
</body>
</html>