<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head") %>
</head>
<body>
    <%- include ("./partials/header")%>

    <main>
        <section class="Option">
            <ul class="contenedor">
                <lu><a class="category" href="#">Categoria</a></lu>
                <lu><a class="category" href="#">Oferta</a></lu>
                <lu><a class="category" href="#">Todos los productos</a></lu>
                <lu><a class="category" href="./admin-confirm">Vender</a></lu>
                <lu><a class="category" href="#">Tendencia</a></lu>
                <lu><a class="category" href="#">Ayuda</a></lu>
            </ul>
        </section>
        <section class="banner">
            <img src="./images/Home/main/Banner-Sportify.png" alt="logo">
        </section>
        <section class="productos">
            <div class="texto1">
                <h1>Sport</h1>
            </div>
            <div class="stock">
                <% producto.map(producto =>{ %>
                    <section>
                        <a href="./detalles/<%= producto.id %>">
                            <article class="destacado1">
                                <figure>
                                    <img src="/images/Home//main/<%= producto.imagen %>" alt="imagen de productos">
                                </figure>
                                <div class="detalle">
                                    <p><%= producto.name %></p>
                                    <p><%= producto.price %></p>
                                    <li class="caja-compra"><a class="compra" href="./carrito">Comprar</i></a></li>
                                </div>
                            </article>
                        </a>
                    </section>
                    <% }) %>
            </div>
        </section>
    </main>
    <%- include ("./partials/footer")%>
</body>
</html>